node_modules
dist
.hass_dev/*
!.hass_dev/configuration.yaml
!.hass_dev/ui-lovelace.yaml
!.hass_dev/lovelace-mushroom-showcase.yaml
!.hass_dev/views
!.hass_dev/www
.hass_dev/www/community/*

# Mac OS
.DS_Store
